.textarea {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-grow: 4;
  font-family: inherit;
  font-size: 1.2rem;
  margin: 0.2rem 0 0 0;
  outline: none;
  overflow: hidden;
  resize: none;
}
